@font-face {
  font-family: "Heebo-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo-Black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Heebo-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Heebo-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Heebo-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff");
  font-display: swap;
}
.b-article__info {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.b-article__date {
  font-family: "Heebo-Black";
  font-weight: 900;
  color: #fff;
  font-size: 18px;
  display: inline-flex;
  background-color: #ff6464;
  border-radius: 16px;
  height: 25px;
  align-items: center;
  padding: 0 10px;
  margin: 0 18px 0 0;
}
@media (max-width: 768px) {
  .b-article__date {
    margin: 0 15px 0 0;
  }
}
.b-article__category {
  font-family: "Heebo-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #21243D;
}
@media (max-width: 768px) {
  .b-article__category {
    font-size: 18px;
  }
}
.b-article__image {
  position: relative;
  max-width: 681px;
  max-height: 460px;
  margin-bottom: 30px;
}
